.modal-filter {
    background: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.filter-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-bottom: 1px solid gray;
}

.params-content {
    margin-left: 1rem;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.close-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    margin-right: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.params-content h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(100, 100, 100);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left: .5rem;
    display: flex;
    align-content: space-between;
    justify-items: center;
}


.title-filter {
    margin-left: 1.5rem;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.title-filter h2 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-family: 'Segoe UI';
}

.hidden-button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.buttons-filter-content {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.button-to-apply{
    width: 22rem ;
    padding: 1rem;
    margin-right: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    border: none;
    background: rgb(0, 183, 255);
}

.button-clear{
    width: 22rem ;
    padding: 1rem;
    margin-right: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    background: none;
    border: 2px solid rgb(207, 207, 207);
}